<div class="company_description_wrap">
  <div class="company_description">
    <div class="company_info">
      <h2>О компании</h2>
      <p>Компания "Меркурий" работает на рынке с 1999 года, и в настоящее время является надежным поставщиком широкого
        ассортимента цветного, нержавеющего
        металлопроката, металла иных сплавов,
        инструментальной стали, РТИ, АТИ.</p>
    </div>
    <div id="featured">
      <img src="assets/cvet_met.jpeg" data-caption="#cvet_met" />
      <img src="assets/polimery.jpg" data-caption="#polimery">
      <img src="assets/rti_ati.jpg" data-caption="#rti_ati">
    </div>
    <div class="orbit-caption" id="cvet_met">
      <h2>Цетной металлопрокат</h2>
      <p>Большой ассортимент алюминиевого, медного, бронзового, латунного, нержавеющего проката.</p>
    </div>
    <div class="orbit-caption" id="polimery">
      <h2>Полимерные материалы</h2>
      <p>В ассортименте текстолит, эбонит, капролон, фторопласт.</p>
    </div>
    <div class="orbit-caption" id="rti_ati">
      <h2>РТИ, АТИ</h2>
      <p>В ассортименте Лента конвейерная ремни клиновые, техническая пластина ТМКЩ, паронит, резина ТМКЩ, сальниковая набивка.</p>
    </div>
  </div>
</div>