<div class="container">
  <div class="row">
    <% unless current_page?(contacts_path) %>
        <%= render partial: 'components/sidebar' %>
    <% end %>
    <div class="content_wrap">
      <div class="info">
        <div class="video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Fw-imw3FIX4" frameborder="0" allowfullscreen></iframe>
        </div>
        <h2>О компании</h2>
        <p>Компания "Меркурий" работает на рынке с 1999 года, и в настоящее время является одним из основных поставщиков промышленных предприятий в своей отрасли.</p>
        <p>Реализуем со склада в Бийске: цветной металлопрокат, бронза, медь, латунь, алюминий, нержавеющий металлопрокат, припой, олово, баббит, нихром, вольфрам, фторопласт, капролон, эбонит, текстолит, поранит, РТИ, АТИ, ТМКЩ, набивки. Поставка под заказ металла иных сплавов, инструментальной стали.</p>
        <p>Наши специалисты помогут вам подобрать интересующую вас продукцию.</p>
        <p>Производим комплектацию заявок.</p>
        <h2>Компания Меркурий предлагает следующие услуги:</h2>
        <ul class="approved">
          <li class="approved_item">продажа проката цветных металлов;</li>
          <li class="approved_item">порезка металла;</li>
          <li class="approved_item">комплектация заказа по заявке;</li>
          <li class="approved_item">возможность поставки редких марок металлов;</li>
          <li class="approved_item">оперативная и бесплатная погрузка;</li>
          <li class="approved_item">доставка собственным автотранспортом;</li>
          <li class="approved_item">доставка клиенту</li>
        </ul>
        <h2>В отношении с клиентами "Меркурий" поддерживает:</h2>
        <ul class="approved">
          <li class="approved_item">индивидуальный подход</li>
          <li class="approved_item">гибкую ценовую политику</li>
          <li class="approved_item">систему скидок</li>
          <li class="approved_item">варианты доставки</li>
          <li class="approved_item">различные формы оплаты</li>
          <li class="approved_item">комплектацию заказа по заявке</li>
        </ul>
       </div>
    </div>
  </div>
</div>
