<title>Контактная информация - ООО"Меркурий"</title>
<div class="container_contact">
    <div class="contacts">
        <div class="contact_header">
            <h2>Контакты</h2>
            <span>Как с нами связаться</span>
        </div>
        <div class="contact_body">
            <h2>Алтайский край, г. Бийск</h2>
            <p>ул. Пугачева, д. 19</p>
            <p>Тел./факс: +7 (3854) 31-52-32</p>
            <p>Телефон: +7 (3854) 31-64-50</p>
            <p>Сот. телефон: +7 (903) 949-33-40</p>
            <p>Email: metal7@rambler.ru</p>
        </div>
    </div>
</div>
<div class="map">
    <a class="dg-widget-link" href="http://2gis.ru/biysk/firm/2815278048088423/center/85.13558864593507,52.49660369615586/zoom/15?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Бийска</a><div class="dg-widget-link"><a href="http://2gis.ru/biysk/center/85.13983,52.50131/zoom/15/routeTab/rsType/bus/to/85.13983,52.50131╎Меркурий, оптовая компания?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до Меркурий, оптовая компания</a></div><script type="text/javascript">new DGWidgetLoader({"width":1200,"height":690, "borderColor": "none","pos":{"lat":52.49660369615586,"lon":85.13558864593507,"zoom":16},"opt":{"city":"biysk"},"org":[{"id":"2815278048088423"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
</div>

