<title>Новости - ООО"Меркурий"</title>
<div class="container">
  <div class="row">
    <% unless current_page?(contacts_path) %>
        <%= render partial: 'components/sidebar' %>
    <% end %>
    <div class="content_wrap">
      <div class="info">
        <% @articles.each do |article| %>
            <h2><%= article.title %></h2>
            <p><%= article.body.html_safe %></p>
            <div class="data"> <%= article.created_at.strftime('%d/%m/%Y')%> </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
