<div class="advert_body">
  <% @advert.each do |a| %>
      <% if a.images? %>
          <%= image_tag a.images.url %>
      <% else %>
          <%= urls_to_images(a.images_url.to_s)%>
      <% end %>
      <p><%= a.description %></p>
  <% end %>
</div>