@import "smart-grid";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
body {
  font-family: 'Roboto',  Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  background: #e6e6e6 url(bg-rep.png) center top repeat;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.row:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.row { display: inline-block; }
/* start commented backslash hack \*/
* html .row { height: 1%; }
.row { display: block; }
/* close commented backslash hack */
.header {
  width: 100%;
  background: #292929 url(top-pt.png) center top repeat;
  position: relative;
  z-index: 100;
  line-height: normal;
  .header_wrap {
    width: 1140px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    .company_info {
      @include row-flex();
      @include justify-content(space-between);
      margin: 0;
      .desc {
        margin-right: 20px;
        text-align: left;
        .adress {
          margin-bottom: 15px;
          background: url("map.png") no-repeat;
          line-height: 24px;
          padding-left: 27px;
          a {
            text-decoration: none;
            color: #fff;
            font-size: 17px;
            font-weight: 700;
          }
        }
        .raspisanie {
          h3 {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 15px;
          }
          .clock {
            font-size: 17px;
            font-weight: 700;
            margin-bottom: 15px;
            line-height: 24px;
            padding-left: 30px;
            background: url("clock.png") no-repeat;
            color: #fff;
            span {
              sup {
                font-size: 10px;
              }

            }
          }
        }
      }
      .logo {
        background: url("logo.png") no-repeat;
        a {
          padding: 25px 172px 101px 15px;
        }
      }
      .contacts {
        margin-left: 20px;
        font-weight: 700;
        font-size: 25px;
        float: left;
        .tel_wrap {
          margin-bottom: 15px;
          text-align: right;
          .tel {
            background: url("phone.png") no-repeat;
            line-height: 24px;
            padding-left: 27px;
            text-decoration: none;
            color: #fff;
            sup {
              font-weight: 200;
              font-size: 18px;
              color: #5b5b5b;
            }
          }
          .mobile {
            background: url("mobile.png") no-repeat;
            line-height: 24px;
            padding-left: 27px;
            text-decoration: none;
            color: #fff;
          }
        }
        .maps {
          color: #5b5b5b;
          font-size: 15px;
        }
      }
      .btn_call {
        float: right;
        padding-left: 20px;
        .call {
          text-decoration: none;
          color: #fff;
          font-size: 17px;
          background: url("call.png") no-repeat 5px #448AFF;
          line-height: 2px;
          padding: 20px 20px 20px 35px;
          border-radius: 5px;
          display: block;
          margin-bottom: 10px;
        }
        .online {
          text-decoration: none;
          color: #fff;
          font-size: 17px;
          background: #448AFF;
          line-height: 2px;
          padding: 20px;
          border-radius: 5px;
          display: block;
          margin-bottom: 10px;
          text-align: center;
        }
        .mail {
          font-size: 17px;
          color: #fff;
          text-decoration: none;
          font-weight: 700;
          background: url("mail.png") no-repeat;
          line-height: 24px;
          padding: 0 30px 5px;
        }
      }
    }
  }
  .menu {
    background-color: #FFC107;
    border-bottom: 4px solid rgba(255, 160, 0, 0.69);
    .menu_list {
      width: 1140px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      .menu_item {
        list-style: none;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        a {
          color: #3D3D3D;
          text-decoration: none;
          padding: 15px 10px;
          display: block;
          &:hover {
            background-color: #448AFF;
            color: #fff;
            border-radius: 3px;
          }
        }
      }
      .active {
        background: #292929 url(top-pt.png) center top repeat;
        border-radius: 0 0 7px 7px;
        a {
          color: #fff;
          text-decoration: none;
          &:hover {
            background: #292929 url(top-pt.png) center top repeat;
            border-radius: 0 0 7px 7px;
            color: #fff;
            text-decoration: none;
          }
        }
      }
      .cart {
        background: url("cart.png") no-repeat;
        padding: 15px 15px 20px 35px;
        position: relative;
        top: 15px;
        right: 10px;
        a {

        }
      }
      #counts {
        position: absolute;
        top: 168px;
        right: 217px;
        .count {
          color: #fff;
          text-align: center;
          font-size: 17px;
          font-weight: 700;
          line-height: 10px;
          display: block;
          background-color: #00a7d0;
          border-radius: 50%;
          padding: 10px;
        }
      }
    }
  }
}
.slide_info {
  width: 1140px;
  margin: 0 auto 15px;
  top: -1px;
  position: relative;
  .company_description_wrap {
    width: 100%;
    .company_description {
      background-color: #fff;
      position: relative;
      padding: 20px 40px 0 700px;
      height: 369px;
      width: 1140px;
      .company_info{
        line-height: 1.6;
        h2 {
          font-size: 25px;
          font-weight: 700;
          margin-bottom: 20px;
          color: #212121;
        }
        p {
          font-size: 18px;
          line-height: 1.6;
          color: #5b5b5b;
        }
      }
      h2 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 10px;
        margin-top: 0;
      }
      &:after {
        position: absolute;
        z-index: 10;
        top: 151px;
        right: 478px;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-right: 20px solid #fff;
        border-bottom: 20px solid transparent;
        content: '';
      }
    }
  }
}
.main {
  .form_wrap {
    background: #fff;
    padding: 20px;
    /* Внешняя тень плиток */
    .form_header {
      text-align: center;
      h2 {
        color: #212121;
        font-size: 20px;
      }
      p {
        margin-top: 15px;
        color: #5b5b5b;
      }
    }
    form {
      max-width: 600px;
      text-align: center;
      margin: 20px auto;
    }
    form input, form textarea {
      border: 2px solid rgba(222, 220, 222, 0.5);
      outline: 0;
      padding: 1em;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      display: block;
      width: 100%;
      margin-top: 1em;
      font-family: 'Merriweather', sans-serif;
      -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      resize: none;
    }
    form input:focus, form textarea:focus {
      -moz-box-shadow: 0 0 2px #448AFF !important;
      -webkit-box-shadow: 0 0 2px #448AFF !important;
      box-shadow: 0 0 2px #448AFF !important;
    }
    form #input-submit {
      color: white;
      background: #448AFF;
      cursor: pointer;
    }
    form #input-submit:hover {
      -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
      -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
      box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
    }
    form textarea {
      height: 197px;
    }

    .half {
      float: left;
      width: 48%;
      margin-bottom: 1em;
    }

    .right {
      width: 50%;
    }

    .left {
      margin-right: 2%;
    }
    .hidden {
      display: none;
    }
    .label {
      font-size: 12px;
      color: #3D3D3D;
      margin-top: 5px;
    }
  }
  .modal_div {
    border-radius: 5px;
    position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
    display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
    opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
    z-index: 1001; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
    padding: 20px 10px;
    box-shadow: none;
    width: 500px;
    height: 453px;
    top: 50%;
    left: 35%;
    margin-top: -250px;
  }
  /* Кнoпкa зaкрыть для тех ктo в тaнке) */
  .modal_div .modal_close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 25px;
    right: 15px;
    cursor: pointer;
    display: block;
    background: url("close.png") no-repeat;
  }
  /* Пoдлoжкa */
  #overlay {
    z-index:1000; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
    position:fixed; /* всегдa перекрывaет весь сaйт */
    background-color:#212121; /* чернaя */
    opacity:0.8; /* нo немнoгo прoзрaчнa */
    -moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
    filter:alpha(opacity=80);
    width:100%;
    height:100%; /* рaзмерoм вo весь экрaн */
    top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
    left:0;
    cursor:pointer;
    display:none; /* в oбычнoм сoстoянии её нет) */
  }
  .container {
    width: 1140px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    h2 {
      color: #448AFF;
      font-size: 25px;
    }
    .content_wrap {
      width: 70%;
      float: left;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 15px;
      .dataTables_wrapper {
        padding-top: 15px;
        padding-right: 15px;
        #example2_info {
          display: none;
        }
        .paginate_button {
          &.active{
          a {
            background-color: #448AFF;
            border: 1px solid #656565;
          }
          }
        }
        .none {
          &:after {
            display: none;
          }
        }
        .order {
          background-color: #448AFF;
          color: #fff;
          padding: 5px;
        }
      }
      .color {
        background-color: #656565;
        color: #fff;
      }
      .button {
        margin-top: 15px;
        float: right;
        a {
          display: block;
          padding: 15px;
          background-color: #448AFF;
          color: #fff;
          text-decoration: none;
        }
      }
      .content_index {
        margin: 0;
        .item {
          position: relative;
          background: #fff;
          padding: 1em;
          box-sizing: border-box;
          float: left;
          margin-right: 15px;
          margin-bottom: 15px;
          &:hover {
            background-color: #fff;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
          }
          .item_image {
            margin-bottom: 10px;
            img {
              width: 250px;
              height: 148px;
              display: block;
              margin: 0 auto;
            }
          }
          .item_content {
            text-align: center;
            color: #212121;
            line-height: 20px;
            .line {
              border-top: 2px dashed rgba(239, 83, 80, 0.7);
            }
            h4 {
              color: #448AFF;
              font-size: 20px;
            }
            span {
              color: #5b5b5b;
              font-size: 12px;
              font-weight: 700;
              margin-bottom: 5px;
            }
            p {
              font-size: 15px;
            }
          }
        }
        .contact_item {
          background-color: #fff;
          padding: 30px;
        }
      }
      .content {
        margin: 0;
        .item {
          position: relative;
          background: #fff;
          padding: 1em;
          margin-right: 10px;
          margin-bottom: 15px;
          box-sizing: border-box;
          float: left;
          width: 248px;
          height: 248px;
          &:hover {
            background-color: #fff;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
          }
          .item_title {
            margin-bottom: 10px;
            text-align: center;
            h4 {
              color: #448AFF;
              font-size: 20px;
            }
          }
          .item_image {
            margin-bottom: 10px;
            img {
              width: 100%;
              height: 148px;
              display: block;
              margin: 0 auto;
            }
          }
          .item_content {
            text-align: center;
            color: #212121;
            line-height: 20px;
            .line {
              border-top: 2px dashed rgba(239, 83, 80, 0.7);
            }
            h4 {
              font-size: 16px;
            }
            span {
              color: #5b5b5b;
              font-size: 12px;
              font-weight: 700;
              margin-bottom: 5px;
            }
            p {
              font-size: 15px;
            }
          }
        }
        .contact_item {
          background-color: #fff;
          padding: 30px;
        }
      }
      .info {
        /* Внешняя тень плиток */
        .video {
          width: 560px;
          margin: 0 auto 30px;
        }
        h2 {
          color: #212121;
          font-size: 20px;
        }
        p {
          color: #5b5b5b;
          font-size: 17px;
          margin-top: 10px;
        }
        .approved {
          margin-top: 10px;
          .approved_item{
            background: url("approved.png") no-repeat;
            padding-left: 26px;
            line-height: 24px;
            color: #5b5b5b;
            font-size: 17px;
          }
        }
        .data {
          float: right;
          color: #448aff;
        }
      }
      .sub_title {
        border-bottom: 2px solid #FFA000;
        .price {
          float: right;
          font-size: 17px;
          text-decoration: none;
          background: #448AFF;
          color: #fff;
          padding: 6px;
          border-radius: 5px;
        }
        h2 {
          color: #212121;
        }
      }
      .description {
        font-size: 16px;
        padding-bottom: 15px;
        ul {
          margin-left: 35px;
        }
        li {
          list-style: disc;
        }
      }
      .advantages {
        border-top: 2px solid #FFA000;
        padding-top: 15px;
        .price_list {
          margin-right: 5px;
          padding-top: 50px;
          background: url("price_list.png") no-repeat 50% 0;
          font-size: 12px;
          font-weight: 700;
          color: #757575;
          text-transform: uppercase;
          text-align: center;
          width: 19%;
          display: inline-block;
        }
        .location {
          margin-right: 5px;
          padding-top: 50px;
          background: url("location.png") no-repeat 50% 0;
          font-size: 12px;
          font-weight: 700;
          color: #757575;
          text-transform: uppercase;
          text-align: center;
          width: 19%;
          display: inline-block;
        }
        .pacing {
          margin-right: 5px;
          padding-top: 50px;
          background: url("pacing.png") no-repeat 50% 0;
          font-size: 12px;
          font-weight: 700;
          color: #757575;
          text-transform: uppercase;
          text-align: center;
          width: 19%;
          display: inline-block;
        }
        .community {
          margin-right: 5px;
          padding-top: 50px;
          background: url("community.png") no-repeat 50% 0;
          font-size: 12px;
          font-weight: 700;
          color: #757575;
          text-transform: uppercase;
          text-align: center;
          width: 19%;
          display: inline-block;
        }
        .complect {
          padding-top: 50px;
          background: url("complect.png") no-repeat 50% 0;
          font-size: 12px;
          font-weight: 700;
          color: #757575;
          text-transform: uppercase;
          text-align: center;
          width: 19%;
          display: inline-block;
        }
      }
      .advantages_title {
        padding-top: 15px;
        h2 {
          color: #212121;
          text-transform: uppercase;
        }
      }
    }
    .sidebar_wrap {
      width: 30%;
      float: left;
      padding-right: 15px;
      .sidebar {
        padding: 15px;
        .menu_list_sid {
          margin: 0 auto;
          a {
            color: #5b5b5b;
            text-decoration: none;
            padding: 17px 0;
            display: block;
            line-height: normal;
          }
          .menu_sid {
            list-style: none;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 0 0 0 25px;
            background: url(strelka.png) no-repeat left 13px #F7F7F5;
            &:hover {
              background: url(strelkawith.png) no-repeat left 13px #448AFF;
              a {
                text-decoration: none;
                color: #fff;
              }
            }
          }
          .active {
            background: url(strelkawith.png) no-repeat left 13px #FFA000;
            a {
              text-decoration: none;
              color: #fff;
            }
          }
        }
        .menu_sub {
          margin-left: 15px;
          list-style: none;
          font-size: 15px;
          font-weight: 700;
          text-transform: uppercase;
          padding: 0 0 0 25px;
          background: url(strelka.png) no-repeat left 13px #F7F7F5;
          &:hover {
            background: url(strelkawith.png) no-repeat left 13px #448AFF;
            a {
              text-decoration: none;
              color: #fff;
            }
          }
        }
        .menu_sub_item {
          margin-left: 30px;
          list-style: none;
          font-size: 15px;
          font-weight: 700;
          text-transform: uppercase;
          padding: 0 0 0 25px;
          background: url(strelka.png) no-repeat left 13px #F7F7F5;
          &:hover {
            background: url(strelkawith.png) no-repeat left 13px #448AFF;
            a {
              text-decoration: none;
              color: #fff;
            }
          }
        }
      }
      .rec_company {
        background-color: #fff;
        padding: 20px;
        margin-top: 15px;
        h2 {
          font-size: 20px;
          text-transform: uppercase;
          border-bottom: 1px solid rgba(222, 220, 222, 0.5);
        }
        h3 {
          font-size: 17px;
          margin-top: 15px;
          font-weight: 700;
        }
        p {
          font-size: 15px;
          color: #5b5b5b;
          margin-top: 10px;
        }
        img {
          width: 100%;
        }
      }
      .news {
        padding: 20px;
        .news_header {
          h2 {
            color: #212121;
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 15px;
          }
        }
        .body {
          border-bottom: 2px dashed #448AFF;
          margin-bottom: 15px;
        }
        .link {
          margin-top: 10px;
          text-align: right;
        a {
          font-size: 15px;
          text-decoration: none;
          color: #448AFF;
        }
        }
      }
      .advert {
        padding: 15px;
        .advert_title {
          background-color: #448AFF;
          padding: 15px;
          text-align: center;
          h2 {
            font-size: 20px;
            color: #fff;
            text-transform: uppercase;
            margin: 0;
          }
        }
        .advert_body {
          background: #292929 url(top-pt.png) center top repeat;
          padding: 15px;
          p {
            color: #fff;
            margin: 10px 0;
            font-size: 17px;
          }
        }
        img {
          width: 100%;
          height: 180px;
        }
      }
    }
  }
  .container_contact {
    width: 1140px;
    margin: 0 auto;
    position: relative;
    .contacts {
      top: 10px;
      padding: 30px;
      background-color: #fff;
      position: absolute;
      z-index: 10;
      .contact_header{
        margin-bottom: 15px;
        border-bottom: 1px solid rgba(222, 220, 222, 0.50);
        padding-bottom: 5px;
        h2 {
          font-size: 20px;
          margin-bottom: 3px;
          color: #212121;
          text-transform: uppercase;
        }
        span {
          font-size: 15px;
        }
      }
      .contact_body {
        h2 {
          margin-bottom: 5px;
          font-size: 19px;
          font-weight: 700;
          color: #212121;
        }
        p {
          font-size: 17px;
          color: #5b5b5b;
          margin-bottom: 5px;
        }
      }
      .images {
        display:block;
        margin-top: 25px;
        img {
          width: 49%;
        }
      }
    }
  }
  .map {
    .dg-widget-link {
		}
    iframe {
      width: 100%;
    }
  }
}
.pre_footer {
  background: #fff;
  width: 1140px;
  margin: 0 auto;
  .pre_wrap {
    width: 1140px;
    margin: 0 auto;
    padding: 20px;
    .title {
      float: left;
      width: 140px;
      h2 {
        font-size: 25px;
        font-weight: 700;
        color: #212121;
      }
      p {
        font-size: 12px;
      }
    }
    .partner {
      float: left;
      width: 960px;
    }
  }
}
.footer {
  width: 100%;
  background: #292929 url(top-pt.png) center top repeat;
  padding: 20px;
  border-top: 4px solid #FFD200;
  .company_info {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .copy {
    color: #fff;
    .copyrighting {
      font-size: 17px;
      background: url("copyright.png") no-repeat;
      line-height: 24px;
      padding-left: 26px;
    }
    .copy_item {
      color: #fff;
      font-size: 12px;
      margin-top: 5px;
    }
    .site_map {
      color: #fff;
      font-size: 12px;
      margin-top: 10px;
    }
  }
  .address {
    color: #fff;
    .address_item {
      font-size: 17px;
      margin-bottom: 15px;
      background: url("map.png") no-repeat;
      line-height: 24px;
      padding-left: 26px;
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
  .phone {
    color: #fff;
    .tel {
      background: url("phone.png") no-repeat;
      line-height: 24px;
      padding-left: 26px;
      margin-bottom: 5px;
      sup {
        font-size: 12px;
        color: #5b5b5b;
      }
      span {
        font-size: 20px;
        font-weight: 700;
      }
    }
    .mail {
      font-size: 17px;
      font-weight: 700;
      background: url("mail.png") no-repeat;
      line-height: 24px;
      padding-left: 30px;
    }
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}