<!DOCTYPE html>
<html>
<head>
  <title>Меркурий - торговая компания :: Цветной металлопрокат, РТИ, АТИ, полимеры в Бийске</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag :admin %>
<body class="hold-transition login-page">
<%= yield %>
</body>
</html>